.program {
    .programDetail {
        .textContent {
            > * {
                margin: 0;
                margin-bottom: 0.5rem;
            }
        }
        border: 1px solid var(--dividers);
    }

    .sponsors {
        display: flex;
    }
}
