.sponsor {
    margin-right: 1rem;
    width: 100px;
    a {
        color: var(--link);
        &:hover {
            color: var(--link-hover);
        }
    }

    .details {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        img {
            max-width: 100%;
            flex: 0 1 auto;
        }

        .textContent {
            flex: 1 1 auto;
        }
    }
}
